<h1 class="jumbotron">Welcome to the DTLA WDI Blog</h1>

<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><%= post.title %></h3>
                <h6>Posted by: <%= post.user.name %>&nbsp;&nbsp;<small><%= post.updated_at%></small></h6>
            </div>
            <div class="panel-body">
                <p><%= post.body %></p>
            </div>
        </div>
    <% end %>
<% else %>
    <h2>No Posts Exist</h2>
<% end %>

<h1 class="jumbotron">Welcome to the DTLA WDI Blog</h1>

<% if current_user %>
    <%= link_to "Add New Post", new_post_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "Logout", destroy_session_path %>
<% else %>
    <%= link_to "Login", new_session_path %>
<% end %>
<hr>